<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/global.css">
  <title>Register</title>
</head>
 
<body>

  <h1>Login</h1>
 
  <!-- Formulaire HTML de login à styliser-->
  <form class="loginForm" action="/users/login" method="POST">
    <div class="inputForm">
      <input type="text" id="name" name="name" placeholder="name" required>
    </div>

    <div class="inputForm">
      <input type="email" id="email" name="email" placeholder="email" required>
    </div>

    <div class="inputForm">
      <input type="password" id="password" name="password" placeholder="password" required>
    </div>

    <div>

      <button type="submit" value="login" class="modern-btn" style="--clr1: #696969; --clr2: #d4d4d4;">
        <span>Connexion</span>
        <div class="modern-btn-shine"></div>
      </button>

    </div>

    <a href="/users/register">No account ? Create one here</a>

  </form>
  
  <ul>
    <!-- Zone message lorsque creation de compte effectuer avec succès-->
    <% if(messages.success_msg) { %>
      <li class="success"><%= messages.success_msg %></li>
    <% } %>
    <!-- Zone message lorsque non correpondance entre email/password avec la BDD-->
    <% if(messages.error) { %>
      <li class="error">! <%= messages.error %> !</li>
    <% } %>
  </ul>

</body>
</html>